<div>
    {{#with person}}
    <div>
        <h1>{{name}}</h1>
    </div>
    <div>
        <b>Age: {{age}}</b>
    </div>
    <br>
    <div>
        <b>Gender: {{gender}}</b>
    </div>
    <br>
    <div>
        {{#with address}}
        <div>
            <address>{{street}},{{citi}},{{state}},{{zip}},{{country}}</address>
        </div>
        {{/with}}
    </div>
    <br>
    <hr>
    <div>
        <h3>Education</h3>
    </div>
    <div>
        {{#each education}}
        <div>
            <p>Degree: <b>{{degree}}</b></p>
            <p>Major: <b>{{major}}</b> </p>
            <p>University: <b>{{university}} ({{graduationYear}})</b></p>
        </div>
        {{/each}}
    </div>
    <br>
    <hr>
    <div>
        <h2> Work experience</h2>
    </div>
    <div>
        <ul>
            {{#each workExperience}}
            <li>
                <div>Company: <b>{{company}}</b></div>
                <br>
                <div>Title: <em>"{{title}}"</em></div>
                <br>
                <div>Date: "{{startDate}} - {{endDate}}"</div>
                <br>
                <div>Responsibilities: "{{responsibilities}}"
                </div>
                <br>
                <div>Years: {{year_founded}}</div>
                <br>
                <div>Industry: {{industry}}</div>
                <br>
                <div>
                    <h3>Employees:</h3>
                </div>
                <div>
                    <ul>
                        {{#each employees}}
                        <li>
                            <div>Name: <b>{{name}}</b></div>
                            <br>
                            <div>Position: {{position}}</div>
                            <br>
                            <div>Departament: {{department}}</div>
                            <br>
                            <div>
                                <h4>Projects:</h4>
                            </div>
                            <div>
                                <ul>
                                    {{#each projects}}
                                    <li>
                                        <div>Name: <b>{{name}}</b></div>
                                        <br>
                                        <div>Description: "{{description}}"
                                        </div>
                                        <br>
                                        <div>Status: {{status}}</div>
                                        <br>
                                        <div>
                                            <h4>Teams:</h4>
                                        </div>
                                        <div>
                                            <ul>
                                                {{#each teams}}
                                                <div>
                                                    <h4>"{{team_name}}"</h4>
                                                </div>
                                                <br>
                                                <li>
                                                    <div>
                                                        <b>Team leader</b>
                                                        <br>
                                                        <br>
                                                        <div>
                                                            {{#with team_leader}}
                                                            <div>Name: <b>{{name}}</b></div>
                                                            <br>
                                                            <div>Title: <em>"{{title}}"</em></div>
                                                            <br>
                                                            <div>Email: {{> link text='john.smith@example.com'
                                                                href=email blank=true noLine=true}}
                                                            </div>
                                                            {{/with}}
                                                        </div>
                                                    </div>
                                                </li>
                                                <br>
                                                <li>
                                                    <div>
                                                        <b>Team members:</b>
                                                        <br>
                                                        <br>
                                                        <div>
                                                            {{#each team_members}}
                                                            <div>Name: <b>{{name}}</b></div>
                                                            <br>
                                                            <div>Title: <em>"{{title}}"</em></div>
                                                            <br>
                                                            <div>Email: {{> link text='alice.johnson@example.com'
                                                                href=email blank=true noLine=true}}</div>
                                                            <br>
                                                            <div>
                                                                <b>Skills:</b>
                                                                <br>
                                                                <br>
                                                                <ul>
                                                                    {{#each skills}}
                                                                    <li>{{this}}</li>
                                                                    <br>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                            <br>
                                                            <div>
                                                                <b>Projects:</b>
                                                                <br>
                                                                <br>
                                                                <ul>
                                                                    {{#each projects}}
                                                                    <li>
                                                                        <div>Name: <b>"{{name}}"</b></div>
                                                                        <br>
                                                                        <div>Description: {{description}}</div>
                                                                        <br>
                                                                        <div>
                                                                            <b>Technologies:</b>
                                                                            <br>
                                                                            <br>
                                                                            <ul>
                                                                                {{#each technologies}}
                                                                                <li>{{this}}</li>
                                                                                <br>
                                                                                {{/each}}
                                                                            </ul>
                                                                        </div>
                                                                        <br>
                                                                        <div>
                                                                            <b>Team members:</b>
                                                                            <br>
                                                                            <br>
                                                                            <ul>
                                                                                {{#each team_members}}
                                                                                <li>
                                                                                    <div>Name: <b>{{name}}</b></div>
                                                                                    <br>
                                                                                    <div>Title: <em>"{{title}}"</em>
                                                                                    </div>
                                                                                    <br>
                                                                                </li>
                                                                                {{/each}}
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/with}}
</div>