<div>
    <div>
        {{#with page_header}}
        <h1 class="text-center">{{title}}</h1>
        <br>
        <div class="text-center text-uppercase">{{description}}</div>
        <br>
        {{/with}}
    </div>
    <br>
    <div>
        {{#with section}}
        <div class="card">
            <div class="caed-body">
                <div class="display-6 text-end">{{about_us.title_list.main}}</div>
                <br>
                <h2 class="text-end">{{about_us.title_list.sub}}</h2>
                <br>
                <button class="btn btn-outline-info">{{about_us.button.text}}</button>
                <br>
                <br>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                {{#with advantage}}
                <div class="text-muted display-5">{{title}}</div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <div class="text-muted display-4">{{efficiency.title}}</div>
                        <br>
                        <h6>{{efficiency.sub-title}}</h6>
                        <br>
                        <p>{{efficiency.description}}</p>
                        <br>
                        <button class="btn btn-outline-warning">{{efficiency.button}}</button>
                        <br>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        {{#with innovation}}
                        <div class="text-center display-4 text-muted">{{title}}</div>
                        <br>
                        <h6 class="text-center">{{sub_title}}</h6>
                        <br>
                        <p class="text-center">{{description}}</p>
                        <br>
                        <button class="btn btn-outline-warning">{{button}}</button>
                        <br>
                        {{/with}}
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        {{#with collaboration}}
                        <div class="text-end display-4 text-muted">{{title}}</div>
                        <br>
                        <h6 class="text-end">{{sub_title}}</h6>
                        <br>
                        <p class="text-end">{{description}}</p>
                        <br>
                        <button class="btn btn-outline-warning">{{button}}</button>
                        {{/with}}
                    </div>
                </div>
                <br>
                {{/with}}
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                {{#with agreement}}
                <div class="display-5">{{title}}</div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h5>{{info.sub_title}}</h5>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <p>{{info.detail.text}}</p>
                                <br>
                                <button class="btn btn-success">{{info.detail.button}}</button>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}
</div>